html,
body {
  height: 97.5%;
}
body {
  width: 1200px;
  margin: auto;
  background-color: rgb(0, 0, 0);
}

table,
tr,
td {
  border: 0px solid rgb(0, 0, 0);
}

.score {
  background-color: black;
  padding: 0 30px;
  color: white;
  height: 30px;
  text-align: right;
}
.frame {
  height: 100%;
  padding: 30px 30px 0px;
  background-color: rgb(157, 154, 125);
}
.space {
  position: relative;
  background-color: black;
  height: 100%;
}

.blocks {
  display: flexbox;
  width: 100%;
  color: white;
  border-spacing: 3px;
}

.red {
  background-color: darkred;
  height: 30px;
}
.yelow {
  background-color: yellow;
  height: 30px;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
  height: 30px;
}
.blue {
  background-color: blue;
  height: 30px;
}
.base {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 15px;
  width: 120px;
  background-color: gray;
}

.dot1 {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: white;
  top: 20px;
  left: 80px;
}
.dot2 {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  top: 101px;
  left: 192px;
}
.dot3 {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  top: 101px;
  right: 192px;
}
